alkisImport.py export-subst
alkis-import.sh export-subst
.gitattributes export-ignore
.gitignore export-ignore
setup.hint export-ignore
preremove.bat export-ignore
postinstall.bat export-ignore
README.md export-ignore
*.in export-ignore
Makefile export-ignore
